/* Gradients */
$buttonBaseColor: linear-gradient(180deg, rgba(195,208,214,1) 0%, rgba(160,163,152,1) 18%, rgba(113,111,103,1) 42%, rgba(67,70,63,1) 70%, rgba(37,39,40,1) 100%);
$buttonHoverColor: linear-gradient(180deg, #9fc5d9 0%, #8da888 18%, #46573f 47%, #263727 70%, #31362e 100%);
$titleBaseColor: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(195,191,187,1) 6%, rgba(150,170,182,1) 48%, rgba(67,83,107,1) 97%, rgba(0,0,0,1) 100%);